.preview-wrapper{
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
    flex-grow: 1;
}

.preview-wrapper .error{
    color:red;
    position: absolute;
}
.react-draggable-transparent-selection .preview-wrapper:after{
    content: "";
    height: 100%;
    position: absolute;
    top:0;
    right:0;
    left:0;
}